@import url("./header.css");
@import url("./inicio.css");
@import url("./especialidades.css");
@import url("./problemas.css");
@import url("./planos.css");
@import url("./footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
